
.bg {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
}

.bg,
.bg::before,
.bg::after {
  background-attachment: scroll;
}

@media only screen and (min-width: 900px) {
  .bg {
    height: 100vh;
  }
  .bg,
  .bg::before,
  .bg::after {
    background-attachment: fixed;
  }
}

.bg div {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
}

.bg span {
  background-color: #111;
  color: #fff;
  padding: 1.2rem;
  font-size: 2rem;
  letter-spacing: .8rem;
}
